.ColumnPageHeader, .ColumnPageHeader-Title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 52px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.projects-header {
    width: 60%;
    text-align: center;
    margin: 60px 0 10px;
    font-weight: 200;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.article {
    box-shadow: 5px 5px 20px #CCC;
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 40px;
}
.the-font {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.panel {
    margin-bottom: 10px;
}
.panel-default {
    border-color: #ddd;
}
.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-body {
    padding: 15px;
}
.wrapper {
    width: 100%;
    background-color: #e2e2e2;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
