{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
            <div class="panel-default">
                <div class="panel-heading">请在下方输入框内编辑你的内容</div>
                    <div class="panel-body" style="background: white">
                        <form action="" method="post" name="editcontent">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.body(row=5, class="form-control", placeholder="请在输入框内输入内容",
                                style="margin-top: 0px; margin-bottom: 0px; height: 136px;")}}
                            </div>
                            <button type="submit" class="btn btn-default" style="background: white; color: black;  ">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



    <table>
        <tr>
            <td>Your content:</td>
            <td>{{ form.body(row=4)}}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save Change"></td>
        </tr>
    </table>
