{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% for contents in qucontent %}
                <article class="article the-font" style="box-shadow: rgb(167, 163, 163) 5px 5px 20px;">
                    <div>
                        <a href="/content/{{ contents.num }}">
                            <h4>{{ contents.title }}</h4>
                        </a>
                    </div>
                    <a href="">
                        <p style="color:#34495E">{{ contents.content }}</p>
                    </a>
                    <p>
                        <small>
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true">
                            </span>
                            <span style="color:#8C8C8C;">
                                <span class="flask-moment" data-timestamp="{{ contents.timestamp }}"
                                      data-format="format('LLL')" data-refresh="0">文章创建时间：{{ contents.timestamp }}
                                </span>
                            </span>
                        </small>
                    </p>
                </article>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}